#nav-btn {
  border-radius: 8px;
  background: rgb(180, 244, 97);
}
.pr-btn {
  border-radius: 8px;
  background: rgb(180, 244, 97);
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
